[submodule ".zsh.d/plugins/zsh-syntax-highlighting"]
	path = .zsh.d/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".tmux.d/plugins/tpm"]
	path = .tmux.d/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
